.vstaking {
  margin: auto;
  margin-top: 2rem;
  border: 2px solid #2e3458;
  background: #162557;
  color: white;
  max-width: 900px;
  border-radius: 12px;
  padding: 16px;
  font-family: "Roboto";

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__help {
    padding-left: 0 !important;
    margin-top: 2rem;
    color: rgb(170, 196, 205);
  }

  &__status {
    &-wrapper {
      display: flex;
      gap: 12px;
    }

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      background: linear-gradient(to right,rgba(91, 134, 255, 0.26), rgba(213, 21, 254, 0.26));
      border-radius: 6px;
      padding: 1px;
      img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
      }
    }

    p {
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__stake {
    padding: 0 !important;

    h4 {
      font-size: 14px;
      font-weight: bold;
    }

    &__info {
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #222a5c;
        text-align: left;
        padding: 8px;
        font-size: 14px;
        white-space: pre;
      }

      tr:nth-child(even) {
        background-color: #323a6c;
      }
    }

    &__action {
      &-input,
      &-select {
        color: rgb(255, 255, 255);
        padding: 12px 21px;
        border: 1px solid #2e3458;
        border-radius: 12px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        background-color: #182252;
        outline: none;
        // box-shadow: 0 0 4px rgba(91, 134, 255, 0.26), 0 0 4px rgba(213, 21, 254, 0.26);

        &:focus {
          border-color: white;
        }
      }

      &-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        cursor: pointer;

        svg {
          transform: rotate(0);
          transition: transform 0.5s ease-out;
        }

        &.active {
          border: 1px solid white;

          svg {
            transform: rotate(180deg);
          }
        }
      }

      &-option {
        position: absolute;
        width: 100%;
        background-color: #020d32;
        padding-left: 0;
        border-radius: 12px;
        border: 1px solid #2e3458;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
        height: 150px;
        overflow: auto;

        li {
          font-size: 14px;
          padding: 12px 21px;
          background-color: #162557;
          cursor: pointer;

          &:first-child {
            padding-top: 24px;
          }

          &:last-child {
            padding-bottom: 24px;
          }

          &:hover {
            background-color: #222a5c;
          }
        }
      }
      &-selectoption {
        // position: absolute;
        width: 100%;
        background-color: #020d32;
        padding-left: 0;
        border-radius: 12px;
        border: 1px solid #2e3458;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
        height: 110px;
        overflow: auto;

        li {
          font-size: 14px;
          padding: 12px 21px;
          background-color: #162557;
          cursor: pointer;

          &:first-child {
            padding-top: 24px;
          }

          &:last-child {
            padding-bottom: 24px;
          }

          &:hover {
            background-color: #222a5c;
          }
        }
      }

      &__hint {
        &-till {
          font-size: 14px;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
        }

        &-warn {
          color: #D144F9;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 0.5em;
        }

        &-strong {
          color: white;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 0.5em;
        }
      }

      button {
        box-sizing: border-box;
        height: max-content;
        position: relative;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        // justify-content: space-between;
        transition: background 0.3s ease 0s, opacity 0.2s ease 0s;
        gap: 8px;
        background-color: #222a5c;
        color: rgb(255, 255, 255);
        padding: 14px 21px;
        margin-bottom: 0.8em;
        border-radius: 6px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        width: 100%;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
        // margin: 0px auto;

        &:hover {
          background: #162557;
        }
      }
    }
  }
}
