.footban{
    background-image: url('../../assets//footban.png');
    height: 282px;
    position: relative;
}
.footban1{
    background-image: url('../../assets//footban.png');
    height: 322px;
    position: relative;
    opacity: .5;
    top: -200px;
    
}

.footban2{
    background-image: url('../../assets//footban.png');
    height: 322px;
    position: relative;
    opacity: .5;
    top: -200px;
}
.footban3{
    background-image: url('../../assets//footban.png');
    height: 222px;
    position: relative;
    top: -32px;
}
.footban4{
    background-image: url('../../assets//footban.png');
    height: 222px;
    position: relative;
    top: -32px;
}