@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}
.marketheight{
  height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  border-right: 4px solid rgb(49, 49, 102);
}
.date1{
  display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;

position: static;
width: 67px;
height: 30px;
left: 0px;
top: 0px;

background: #11214E;
border: 1px solid rgba(255, 255, 255, 0.09);
box-sizing: border-box;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.equipment{
  display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
height: 30px;

background: #11214E !important;
border: 1px solid rgba(255, 255, 255, 0.09) !important;
box-sizing: border-box;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.typehero {
  height: 44px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #0b234f 0%, #0c123d 100%);
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-sizing: border-box;
}
.accordion-button {
  background: linear-gradient(180deg, #0B234F 0%, #0C123D 100%), #11214E !important;
  border: 1px solid rgba(255, 255, 255, 0.09) !important;
  color: white !important;
  border: none !important;
}
.navbar{
  height: 64px !important;
}

.scroll{
  height: 45%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  border-right: 4px solid rgb(49, 49, 102);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7872ad; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49, 49, 102); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.distanF {
  height: 40px;
  padding: 4px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #3c67b8 0%, #1c2e94 48.16%, #4271bf 100%);
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-sizing: border-box;
  border-radius: 4px;
}
.druios {
  height: 40px;
  padding: 4px;
  background: linear-gradient(
      180deg,
      #112754 0%,
      rgba(13, 23, 65, 0.9) 52.61%,
      #0e2a58 100%
    ),
    linear-gradient(180deg, #112754 0%, #131d47 52.61%, #0e2856 100%);
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-sizing: border-box;
  border-radius: 4px;
}
.equip {
  width:80px;
  height: 22px;
  left: 0px;
  top: 0px;
}
.pets {

  background: linear-gradient(180deg, #112754 0%, #131d47 52.61%, #0e2856 100%);
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
}
.mcrt1 {
  margin-top: -11px !important;
}
.axies1 {
  margin-top: -11px !important;
}

.typeImg{
  height: 16px;
}
.typeFont{
  font-size: 12px;
}
@media (min-width: 300px) and (max-width: 350px) {
    .typeFont{
      font-size: 9px;
    }
    .cardwid {
      width: 18rem !important;
    }
    .cardMargin{
      margin: auto !important;
    }

}
@media (min-width: 350px) and (max-width: 400px) {
  .cardwid {
    width: 18rem !important;
  }
  .cardMargin{
    margin: auto !important;
  }
  .secondCol{
    margin-top: -212px !important;
  }
}
@media (min-width: 414px) and (max-width: 700px) {
  .cardMargin{
    margin: auto !important;
  }
  .secondCol{
    margin-top: -212px !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .flexCol{
    display: flex;
    flex-direction: column;
  }
  .petSec{
    display: flex;
    flex-direction: column;
  }
  .petSec button{
    margin-top: 18px;
  }
}
@media (min-width: 1000px) and (max-width: 1202px) {
  .cardwid {
    width: 8rem !important;
  }
  .axies1 {
    font-size: 7px !important;  
  }
  .typeImg{
    height: 10px;
  }
  .typeFont{
    font-size: 6px;
  }
  .distanF {
    padding: 2px;
    height: 30px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #3c67b8 0%, #1c2e94 48.16%, #4271bf 100%);
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .druios {
    height: 30px;
    padding: 2px;
    background: linear-gradient(
        180deg,
        #112754 0%,
        rgba(13, 23, 65, 0.9) 52.61%,
        #0e2a58 100%
      ),
      linear-gradient(180deg, #112754 0%, #131d47 52.61%, #0e2856 100%);
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .pets{
    padding: 0%;
  }

}
@media (min-width: 1200px) and (max-width: 1399px) {
  .cardwid {
    width: 10rem !important;
  }
  .typeImg{
    height: 14px;
  }
  .typeFont{
    font-size: 8px;
  }
  .distanF{
    height: 32px;
    padding: 4px;
  }
  .druios{
    height: 32px;
    padding: 4px;
  }

}
@media (min-width: 1447px) and (max-width: 1702px) {
  .cardwid {
    width: 11rem !important;
  }

}
@media (min-width: 1703px) and (max-width: 1902px) {
  .cardwid {
    width: 14rem !important;
  }
}
@media (min-width: 1902px) and (max-width: 2102px) {
  .cardwid {
    width: 14rem !important;
  }
  .distanF{
      height: 50px;
  }
  .typeImg{
    height: 20px;
  }
  .typeFont{
    font-size: 13px;
    padding: 4px;
  }
  .druios{
    height: 50px;
  }
}
@media (min-width: 2103px) and (max-width: 2302px) {
  .cardwid {
    width: 14rem !important;
   
  }
}
@media (min-width: 2303px) and (max-width: 2502px) {
  .cardwid {
    width: 18rem !important;
  }
}
